.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}